<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <handlers>
            <add name="Python Interpreter" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;E:\Program Files\Python36\python.exe&quot;  %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
